nav {
	background-color: var(--white);
	box-shadow: var(--box-shadow1);
}
.nav_center {
}

.nav_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 1rem;
}

.img_logo {
	height: 40px;
}
.toggle_btn {
	border: none;
	background: transparent;
	font-size: 1.5rem;
	color: var(--main-color-300);
	cursor: pointer;
	transition: var(--transition);
}
.toggle_btn:hover {
	color: var(--main-color-500);
	transform: rotate(90deg);
}
.links_container {
	height: 0;
	overflow: hidden;
	transition: var(--transition);
}
.show_container {
	height: 11rem;
}

.nav_links {
}
.nav_links a {
	display: block;
	font-size: 1rem;
	color: #585555;
	padding: 0.5rem 1rem;
	text-transform: capitalize;
	transition: var(--transition);
	letter-spacing: var(--letter-spacing);
}
.nav_links a:hover {
	background-color: var(--main-color-100);
	padding-left: 1.5rem;
}
.social_links {
	display: none;
}
@media screen and (min-width: 800px) {
	.toggle_btn {
		display: none;
	}
	.nav_center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		padding: 0.5rem 1rem;
		justify-content: space-between;
	}
	.nav_header {
		padding: 0px;
	}
	.social_links {
		display: flex;
		gap: 1rem;
	}
	.show_container,
	.links_container {
		height: auto;
	}
	.nav_links {
		display: flex;
		gap: 0.5rem;
	}

	.nav_links a:hover {
		padding: 0.5rem 1rem;
		color: var(--main-color-500);
		background: transparent;
	}
	.social_links a {
		color: var(--main-color-300);
		transition: var(--transition);
	}
	.social_links a:hover {
		color: var(--main-color-500);
	}
}
